.App{
  padding: 40px;
}
.header{
  margin-bottom: 20px;
}

.header-input{
  height: 40px;
  border-radius: 5px;
}


.btn-compare{
  position: absolute;
  right: 40px;
  height: 30px;
  background-color: rgba(9, 9, 176, 0.88);
  color: #fff;
  border: 1px solid rgba(9, 9, 176, 0.88);
  border-radius: 5px;
  cursor: pointer;
}
.btn-compare:hover{
  opacity: 0.5;
}

.compare-time-frame{
  margin-bottom: 50px;
}
